@model IEnumerable<Music>
@{ 
    ViewBag.Title = "Musics";
}

<div class="with-sidebar-wrapper">
    <section id="content-section-1">
        <div class="section-container container">
            <div class="blog-item-wrapper">
                <div class="blog-item-holder">
                    <div class="gdlr-item gdlr-blog-full">
                        <div class="gdlr-ux gdlr-blog-full-ux">
                            <article class="post type-post status-publish format-standard has-post-thumbnail hentry category-fit-row category-life-style">
                                <div class="gdlr-standard-style">
                                    <div class="gdlr-blog-content-wrapper">
                                        <div class="gdlr-blog-content-inner">
                                            <header class="post-header">
                                                <h3 class="gdlr-blog-title">@ViewBag.Title</h3>
                                                <div class="clear"></div>
                                            </header><!-- entry-header -->

                                            <div class="gdlr-blog-content">
                                                <table>
                                                    <thead>
                                                        <tr>
                                                            <th>Title</th>
                                                            <th>Level</th>
                                                            <th>Control</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach(var x in Model)
                                                        {
                                                            <tr>
                                                                <td>@x.Title</td>
                                                                <td>@x.Level</td>
                                                                <td>
                                                                    <a asp-action="Edit" asp-controller="System" asp-route-id="@x.Id">Edit</a>
                                                                    <a href="javascript:Delete('@x.Id');">Delete</a>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                                <p><a asp-action="Upload" asp-controller="System">Upload</a></p>
                                                <form asp-action="Delete" asp-controller="System" id="frmDelete">
                                                    <input type="hidden" id="mid" name="id" />
                                                </form>
                                            </div>
                                        </div> <!-- blog-content-inner -->

                                    </div> <!-- blog-content-wrapper -->
                                    <div class="clear"></div>
                                </div>
                            </article><!-- #post -->
                        </div>
                    </div>
                </div>
            </div><div class="clear"></div>
        </div>
    </section>
</div>
<script>
    function Delete(id)
    {
        jQuery('#mid').val(id);
        jQuery('#frmDelete').submit();
    }
</script>